{
	"printWidth": 160,
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"semi": true,
	"singleAttributePerLine": false,
	"arrowParens": "always",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"overrides": [
		{
			"files": "src/**/*.css",
			"options": {
				"singleQuote": false
			}
		},
		{
			"files": "src/**/*.html",
			"options": {
				"singleAttributePerLine": false
			}
		}
	]
}
